/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #6A8FC7;
  background: linear-gradient(0deg, rgba(187,236,237,1) 0%, #6A8FC7 100%);
}

.bodyForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 5px;
  overflow: hidden;
}

.wrapper {
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.divLogoLogin{
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.logoJaveLogin{
  width: 15%;
}

.tituloLog{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background:transparent;
  font-size: x-large;
  letter-spacing: 8px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

.wrapper{
  width: 350px; /* Cambiar el ancho del formulario */
  height: 350px;
}

.wrapper form {
  padding: 25px 25px;
}

.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 1px;
  border: 1px solid lightgrey;
  font-size: 10px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #4e78c7;
}

form .row input::placeholder {
  color: #999;
}

.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #4e78c7;
  border: 1px solid #4e78c7;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin-top: 12px;
}


.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  margin-top: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0px;
  background: #4e78c7;
  border: 1px solid #4e78c7;
  cursor: pointer;
}

form .button input:hover {
  background: #4e78c7;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 11px;
}

form .signup-link a:hover {
  text-decoration: underline;
}

/*hasta aca va el login*/

/*estilos register */

.wrapperRegister{
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 350px;
}

.wrapperRegister form .form-row{
  margin: 15px;
}

.wrapperRegister form .form-row input {
  width: 42%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 10px;
  transition: all 0.3s ease;
  padding: 10px;
}

.wrapperRegister form .form-row .fa-user{
  padding-left: 4px;
}



.wrapperRegister form .submit-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperRegister form .submit-row input{
  margin-top: 10px;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #4e78c7;
  cursor: pointer;
}

.wrapperRegister form .checkbox-row{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Pagina Home*/

.bodyHome{
  background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgba(187,236,237,1) 100%);
  
}

/* Encabezado */
.logo1{
  width: 14%;
  margin-right: 20px;
}

.profilePic{
  width: 18%;
  margin: 10px;
}

.header {
  background: #6A8FC7;
  background: linear-gradient(0deg, rgba(187,236,237,1) 0%, #3876d3 100%);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.greeting-text {
  font-size: 1.2em;
}

.greeting-text-2 {
  font-size: 0.9em;
}

.logo {
  width: 120px;
}
/*barra de busqueda*/
.search-nav{
  display: flex;
  justify-content: center;
}

form.d-flex{
  width: 50%;
  padding: 15px;
}

button.btn.btn-outline-success{
  color: #6A8FC7;
  border-color: #6A8FC7;
}

button.btn.btn-outline-success.btn-sm:hover{
  background-color: #6A8FC7;
  color: #fff;
}

/* Lo más buscado */
.most-searched {
  padding: 20px;
}

.section-title {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-item {
  background-color: #E3E3E3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Desplazamiento, desenfoque y opacidad */
  transition: box-shadow 0.3s ease;
}

.button-item:hover{
  background-color: #f7f7f7;
}

/* Categorías */
.categories {
  padding: 20px;
}

.category-list {
  display: flex;
  gap: 20px;
}

.category-item {
  text-align: center;
  cursor: pointer;
}

.category-image {
  width: 100%;
}


/* Favoritos */
.favorites {
  padding: 20px;
}

.product-list {
  display: flex;
  gap: 20px;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Desplazamiento, desenfoque y opacidad */
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-name {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.product-price {
  font-size: 1.1em;
  margin-top: 5px;
  color: #000000;
}

.product-rating {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

/* Corazón de favoritos */
.favorite-icon {
  font-size: 1.5em;
  color: #ccc; /* Color del corazón vacío */
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 20px;
}

.favorite-icon .fas {
  color: #ff0000; /* Color del corazón lleno */
}

/* Contenedor de la puntuación y el corazón */
.rating-favorite {
  display: flex;
  justify-content: space-between; /* Espacio entre la puntuación y el corazón */
  align-items: center;            /* Alinea ambos elementos verticalmente */
  margin-top: 10px;               /* Espacio entre el precio y esta sección */
}

/* Ajustes para la puntuación */
.product-rating {
  font-weight: bold;
  margin-right: 10px; /* Espacio entre la puntuación y el corazón */
}

/* Corazón de favoritos */
.favorite-icon {
  font-size: 1.5em;
  color: #ccc; /* Color del corazón vacío */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Pagina Favoritos */


.html-fav{
  height: 100%;  /* Asegura que la altura de la página sea siempre del 100% */
  margin: 0;     /* Elimina cualquier margen que pueda estar causando espacios en blanco */
  padding: 0;
}

.title1-fav{
  font-size:x-large;
  margin-left: 35px;
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px 20px;
  text-align: left;
}

th {
  background-color: #6A8FC7;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td {
  color: #333;
}

/* Pagina de tus productos */
.bodyaniadir{
  background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgba(187,236,237,1) 100%);
}


.title1-prod{
  font-size:x-large;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Botón de edición */
.edit-btn {
  background-color: #6A8FC7;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #bfd0e9;
  color: #000000;
}

/* pagina aniadir Productos */

/* Sección del formulario */
.add-product-section {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.add-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos de los campos de entrada */
.form-group {
  width: 48%;
  margin-bottom: 15px;
}

.form-group-wide {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="number"], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

/* Botón para añadir producto */
.form-group-button {
  width: 100%;
  text-align: center;
}

.add-product-btn {
  background-color: #6A8FC7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
}

.add-product-btn:hover {
  background-color: #7e95b9;
  color: #000000;
}

/* estilos para la pagina escoger usuarios */

/* Estilos para los contenedores de opciones de botones */
.button-container {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 30px;
}

/* Estilos generales de los botones de opción */
.option-button {
  width: 400px;
  height: 350px;
  background: #fff;
  color: #4e78c7;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor sobre los botones */
.option-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.2);
}

/* Estilos para la imagen dentro de los botones */
.option-button img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Estilos específicos para el botón de Emprendedor */
.option-button.emprendedor {
  background-color: #fff;
  color: #4e78c7;
}

/* Estilos específicos para el botón de Usuario Común */
.option-button.usuario-comun {
  background-color: #fff;
  color: #4e78c7;
}

.bodyTipoUsuario{
  height: 100%;  /* Asegura que la altura de la página sea siempre del 100% */
  margin: 0;     /* Elimina cualquier margen que pueda estar causando espacios en blanco */
  padding: 0;
}
.tituloTipo{
  justify-self: center;
}

.submenu {
  display: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  width: 40%;
  justify-self: center;
}

.card-details {
  display: none; /* Ocultar los detalles de la tarjeta por defecto */
}

.formularioPagos{
  justify-items: center;
}

